.label {
    -fx-font-size: 20px; 
    -fx-padding: 0 10 0 0px;
}

.radio-button{
    -fx-font-size: 20px;
    
    -fx-mark-color: #616161; 
    -fx-padding: 5;

}
.radio-button .radio {
    -fx-background-color: #cccccc;       

}

.btSubmit{
    -fx-font-size: 25px; 
}


.btRegister{
    
    -fx-font-size: 20px; 
}

.text-field {
    -fx-background-color: #cccccc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-prompt-text-fill: #363636;
    -fx-border-color: #616161;
}

.text-field:focused  {
    -fx-background-color: #bbbbbb; 
    -fx-border-color: #000000;            
    -fx-effect: dropshadow(three-pass-box, rgba(74,144,226,0.4), 5, 0, 0, 0);
    -fx-text-fill: #000; 
}

.text-area {
    -fx-background-color: #cccccc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-prompt-text-fill: #4b4b4b;
    -fx-border-color: #616161;
}

.text-area .content {
    -fx-background-color: #cccccc;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: #bbbbbb; 
    -fx-text-fill: #000; 
}

.text-area:focused {
    -fx-background-color: #bbbbbb; 
    -fx-border-color: #000000;            
    -fx-effect: dropshadow(three-pass-box, rgba(74,144,226,0.4), 5, 0, 0, 0);
    -fx-text-fill: #000; 
}


.combo-box {
    -fx-background-color: #cccccc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-color: #616161;
    -fx-prompt-text-fill: #363636;
    -fx-text-fill: #000;
    -fx-font-size: 20px;
}

/* ======== Quando o ComboBox está focado ======== */
.combo-box:focused {
    -fx-background-color: #bbbbbb;
    -fx-border-color: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(74,144,226,0.4), 5, 0, 0, 0);
}

/* ======== Estilo do botão da seta ======== */
.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-border-radius: 0 6 6 0;
    -fx-background-radius: 0 6 6 0;
}

/* ======== Quando o mouse passa sobre o botão da seta ======== */
.combo-box .arrow-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* ======== Estilo da lista suspensa ======== */
.combo-box-popup .list-view {
    -fx-background-color: #cccccc;
    -fx-border-color: #616161;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

/* ======== Itens dentro da lista ======== */
.combo-box-popup .list-cell {
    -fx-text-fill: #000;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #bbbbbb;
}


.plain-content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-cursor: default;

    -fx-prompt-text-fill: #000;
}

.plain-content .content {
    -fx-background-color: transparent;
}

.plain-content:focused {
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    
}

.sub-title{
    -fx-font-size: 35;
}