.label {
    -fx-font-size: 20px; 
    -fx-padding: 0 10 0 0px;
}

.radio-button{
    -fx-font-size: 20px;
    
    -fx-mark-color: #616161; 
    -fx-padding: 5;

}
.radio-button .radio {
        -fx-background-color: #cccccc;       

}

.btSubmit{
    -fx-font-size: 25px; 
}


.btRegister{
    
    -fx-font-size: 20px; 
}



.text-field {
    -fx-background-color: #cccccc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-prompt-text-fill: #888;
}